@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#design{
  margin-left:80px;
  overflow: hidden;
  width: 100%;
}

#design li{
  list-style:none;
  float: left;
  margin: 0 .5em 0 1em;
}

#design a{
  background: #ddd;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#design a:hover{
  background: #f96e5b;
}

#design a::before{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #ddd #ddd #ddd transparent;
  left: -1em;
}

#design a:hover::before{
  border-color: #f96e5b #f96e5b #f96e5b transparent;
}

#design a::after{
  content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #ddd;
  right: -1em;
}

#design a:hover::after{
  border-left-color: #f96e5b;
}

#design .current{
	background: #f96e5b;
  padding: .7em 1em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
	
}

#design .current::after{
 content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid #f96e5b;
  right: -1em;
}

#design .current::before{
 content: "";
  position: absolute;
  top: 50%; 
  margin-top: -1.5em;   
  border-width: 1.5em 0 1.5em 1em;
  border-style: solid;
  border-color: #f96e5b #f96e5b #f96e5b transparent;
  left: -1em;
}
#hormenu {
  background: #f96e5b;
  width: 60%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  
}
#hormenu ul {
  
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#hormenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#hormenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#hormenu.align-right ul li {
  float: right;
}
#hormenu.align-center ul {
  text-align: center;
}
#hormenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#hormenu ul li a:hover {
  color: #333333;
}
#hormenu ul li a:hover:before {
  width: 100%;
}
#hormenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#hormenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#hormenu ul li.last > a:after,
#hormenu ul li:last-child > a:after {
  display: none;
}
#hormenu ul li.active a {
  color: #333333;
}
#hormenu ul li.active a:before {
  width: 100%;
}

#hormenu.align-right li.last > a:after,
#hormenu.align-right li:last-child > a:after {
  display: block;
}
#hormenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #hormenu ul li {
    float: none;
    display: block;
  }
  #hormenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #hormenu ul li.last > a,
  #hormenu ul li:last-child > a {
    border: 0;
  }
  #hormenu ul li a:after {
    display: none;
  }
  #hormenu ul li a:before {
    display: none;
  }
}
.box9{
    
    margin: 40px auto;
    width: 300px;
    min-height: auto;
    padding: 10px;
    position:relative;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius:20px;
    background: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.box9 img {
    width: 100%;
    margin-top: 15px;
}


h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

a{
    text-decoration: none;
    color: #4A4A4A !important;
}

a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}




/* CSS for Vertical Menu */
#vermenu{
	margin-top: 60px;
}
#vermenu ul,
#vermenu ul li,
#vermenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#vermenu {
  width: 180px;
  z-index: 10;
  padding-top: 20px;
}
#vermenu ul {
  border: 1px solid #cccccc;
  border-radius: 5px;
  background: #ffffff;
  background: -moz-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -webkit-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -o-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: -ms-linear-gradient(bottom, #f0f0f0, #ffffff);
  background: linear-gradient(to top, #f0f0f0, #ffffff);
}
#vermenu ul li {
  display: block;
  border-bottom: 1px solid #cccccc;
}
#vermenu ul li.active {
  border-bottom: 0;
}
#vermenu ul li:last-child {
  border-bottom: 0;
}
#vermenu ul li a {
  display: block;
  padding: 14px 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
}
#vermenu ul li.active {
  left: -8px;
  width: 194px;
  padding: 2px;
  background: #f96e5b;
  background: -moz-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: -webkit-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: -o-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: -ms-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: linear-gradient(to top, #f96e5b, #f96e5b);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
#vermenu ul li.active > a {
  padding: 12px 12px 12px 16px;
  border-left: 1px dashed #de8886;
  border-top: 1px dashed #de8886;
  border-bottom: 1px dashed #de8886;
  color: #ffffff;
  text-shadow: 0 1px 1px #f96e5b;
}
#vermenu ul li.active:after {
  position: absolute;
  right: -16px;
  top: 7px;
  width: 31.52691193px;
  height: 31.52691193px;
  background: #f96e5b;
  background: -moz-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: -webkit-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: -o-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: -ms-linear-gradient(bottom, #f96e5b, #f96e5b);
  background: linear-gradient(to top, #f96e5b, #f96e5b);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}
#vermenu ul li.active:before {
  position: absolute;
  right: -12px;
  top: 9px;
  z-index: 10;
  width: 28.52691193px;
  height: 28.52691193px;
  border-right: 1px dashed #fb998c;
  border-top: 1px dashed #fb998c;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}
#vermenu ul li.active a:after {
  position: absolute;
  bottom: -7px;
  left: -11px;
  z-index: -1;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #f96e5b;
  content: "";
}

.pic-circle-corner {
float: right;
display: inline;
width: 30px;
height: 30px;
margin: .8em auto;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
border: 5px solid #eee;
box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}
input[type=button], input[type=submit], input[type=reset], button, .button {
	padding: 5px 15px;
	margin: 3px 4px;
	display: inline-block;
	color: #ffffff;
	font-size: 15px;
	cursor: pointer;
	background: #f96e5b;
	background: linear-gradient(top, #f96e5b 0%, #e62932 100%);
	background: -moz-linear-gradient(top, #f96e5b 0%, #e62932 100%);
	background: -webkit-linear-gradient(top, #f96e5b 0%, #e62932 100%);
	background: -o-linear-gradient(top, #f96e5b 0%, #e62932 100%);
	border: 2px solid #EA441B;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow:0px 0px 8px 4px rgba(31, 8, 19, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:0px 0px 8px 4px rgba(31, 8, 19, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-webkit-box-shadow:0px 0px 8px 4px rgba(31, 8, 19, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	-o-box-shadow:0px 0px 8px 4px rgba(31, 8, 19, 0.25), inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.50);
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover, .button:hover {
	background: linear-gradient(top, #ff5c65 0%, #FF424B 100%);
	background: -moz-linear-gradient(top, #ff5c65 0%, #FF424B 100%);
	background: -webkit-linear-gradient(top, #ff5c65 0%, #FF424B 100%);
	background: -o-linear-gradient(top, #ff5c65 0%, #FF424B 100%);
}
input[type=button]:active, input[type=submit]:active, input[type=reset]:active, button:active, .button:active{
	opacity:0.8;
}

input[type=text],input[type=password], select{ 
 border-color:#cccccc; 
 padding:7px;
 width:180px; 
 font-size:14px;
  text-align:left; 
  border-width:3px;
   border-radius:7px; 
   border-style:hidden; 
   background-color:#ffffff;
    color:#525057; 
    text-shadow:0px 0px 0px rgba(42,42,42,.75);
     box-shadow: 0px -1px 5px 0px rgba(71,67,71,.91); 
     font-weight:normal; 
     font-family:cursive;
       } 
input[type=text]:focus,input[type=password]:focus,select:focus{ 
	outline:none;
	 } 


p {
	color: #7a7c7f; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	 line-height: 40px;
	  margin: 0 0 24px; 
	  text-align: justify;
	   text-justify: inter-word;
	    }
.tg  {border-collapse:collapse;border-spacing:0; margin-left: 80px; margin-top: 50px;}
.tg td{font-family:Arial, sans-serif;font-style:inherit;   font-size:14px;padding:10px 5px;border-style:none;border-width:1px;overflow:hidden;word-break:normal;}

.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
